.verificationCard {
    display: flex;
    width: 15.26vw;
    height: 24.54vh;
    padding: 1.85vh 1.04vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.41vh;
    border-radius: 1.30vw;
    border: 0.10vw solid var(--Borders-Main-Card-border, rgba(255, 255, 255, 0.30));
    background: var(--Gradient-Card-Main, linear-gradient(310deg, rgba(255, 255, 255, 0.45) 2.93%, rgba(255, 255, 255, 0.22) 100%));
    box-sizing: border-box;
}

.cardContentContainer {
    display: flex;
    padding: 0.74vh 0.42vw 0 0.42vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.89vh;
    align-self: stretch;
}

.cardContentTitle {
    align-self: stretch;
    color: var(--text-icon-white, #FFF);
    font-family: 'Geist', sans-serif;
    font-size: 2.04vh;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cardNumberText {
    align-self: stretch;
    color: var(--text-icon-white, #FFF);
    font-family: 'Geist', sans-serif;
    font-size: 5.93vh;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.activeVerification {
    border-radius: 1.30vw;
    border: 0.10vw solid var(--Borders-Violet, rgba(191, 108, 255, 0.50));
    background: var(--Gradient-Card-Violet, linear-gradient(144deg, #323655 10.57%, #6325C7 52.18%, #BB62FF 93.01%));
}

.activeAdjudication {
    border-radius: 1.30vw;
    border: 0.10vw solid var(--Borders-Orange, #FE9A34);
    background: var(--Gradient-Card-Orange, linear-gradient(144deg, #323655 10.57%, #E6722F 63.68%, #FF9D33 93.01%));
}

.activeReAdjudication {
    border-radius: 1.30vw;
    border: 0.10vw solid var(--Borders-Orange, #FE9A34);
    background: var(--Gradient-Card-Dark-Orange, linear-gradient(144deg, #323655 10.57%, #E6572F 63.68%, #F93 93.01%));
}

.actionButton {
    display: flex;
    height: 5.09vh;
    padding: 1.48vh 1.04vw 1.48vh 1.25vw;
    justify-content: center;
    align-items: center;
    gap: 0.63vw;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 2.34vw;
    border: 0.10vw solid var(--Borders-Buttons-Border, rgba(0, 0, 0, 0.30));
    background: var(--Background-White, #FFF);
    font-family: 'Geist', sans-serif;
    font-size: 1.67vh;
    font-weight: 500;
    color: #6325C7;
    cursor: pointer;
    margin-bottom: 1.85vh;
}

.buttonText {
    color: var(--text-icon-black, #000);
    text-align: center;
    font-family: 'Geist', sans-serif;
    font-size: 1.67vh;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}